/* RESET */
*, ::before, ::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  --light: #EAE3D7;
  --dark: #090909;

  --color-text: var(--dark);
  --color-bg: var(--light);

  --fw-thin: 100;
  --fw-extralight: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;

  --fs-nav-logo: 4rem;
  --fs-nav-logo-home: 8rem;
  --fs-nav-link: 2rem;

  --pad-nav-top: 3.125rem;
  --pad-nav-x: 5rem;
}

::selection{
  color: var(--light);
  background-color: var(--dark);
}

@media (prefers-color-scheme: dark){
  :root{
    --color-text: var(--light);
    --color-bg: var(--dark);
  }
  ::selection{
    color: var(--dark);
    background-color: var(--light);
  }
}

@font-face {
  font-family: Cabinet Grotesk;
  src: url(./fonts/CabinetGrotesk-Variable.ttf);
}

body{
  font-family: Cabinet Grotesk, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}

.not-text-link{
  text-decoration: none;
  color: var(--color-text);
}